{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid reset-password published-container submit-header">
    <h1>{% trans "Password Reset" %}</h1>
    {#% if user.is_authenticated %#}
    {#% include "account/snippets/already_logged_in.html" %#}
    {#% endif %#}
    <div class="row">
      <div class="col-md-4 col-md-push-4">
        <div class="panel panel-default submit-beta">
          <div class="panel-body" id="submit-beta">
            <p>Forgot your password? Please enter your e-mail address below,
            an email will be sent to you, allowing you to reset it.</p>
        
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-md btn-block primaryAction">{% trans "Reset My Password" %} &raquo;</button>
                <!--<input type="submit" value="{% trans 'Reset My Password' %}" />-->
            </form>
        
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}