{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid published-container submit-header">
    <h1>{% trans "Change Password" %}</h1>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <div class="panel panel-default submit-beta">
                <div class="panel-body" id="submit-beta">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}