{% extends 'beta/user_admin.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block beta_user %}
<div class="container-fluid">
    {% if tester_form %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Join Testers Community</h4>
                    <form action="{% url 'beta:join_testers' %}" method="post" class="form"
                    enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form tester_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if beta_form %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Submit Your Startup</h4>
                    <form action="{% url 'beta:submit_beta' %}" method="post" class="form"
                    enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form beta_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if test_form %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Submit Your Beta Test</h4>
                    <form action="{% url 'beta:test_beta' %}" method="post" class="form"
                    enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form test_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if signup_form %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Submit Your Beta Test</h4>
                    <form action="#" method="post" class="form">
                      {% csrf_token %}
                      {% bootstrap_form signup_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if edit_beta %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Submit Your Beta Test</h4>
                    <form action="{% url 'beta:edit_beta' beta_user.startup_id %}" method="post"
                          enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form edit_beta %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if test_form %}
    <div class="row">
        <div class="col-md-6 col-md-push-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Join Testers Community</h4>
                    <form action="{% url 'beta:edit_testing' beta_user.beta_id %}" method="post" class="form">
                      {% csrf_token %}
                      {% bootstrap_form edit_testing %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "star" %} Submit
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock beta_user %}