<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Reviewed {{ startup_id }}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="css/font-awesome.css" type="text/css" rel="stylesheet">
    </head>
<body>
<div style="background-color: #008B45;padding-bottom: 20px;padding-top: 20px;"></div>
<div class="container-fluid" style="padding: 30px;">
    <div class="row">
        <div class="col-md-8 col-md-push-1">
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;font-variant: normal;
    font-weight: 700;line-height: 20px;">Hi {{ first_name|capfirst}} {{ last_name|capfirst }},</p>
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;font-variant: normal;
    font-weight: 500;line-height: 20px;">
            We are sorry that your request (ref# {{ founder_id }}) to feature on our platform has been declined, due to one or more
            of the following reason(s).<br><br>
            1) Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            2) Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
            3) when an unknown printer took a galley of type and scrambled it to make a<br>
            4) type specimen book. It has survived not only five centuries, but also the<br>
            5) leap into electronic typesetting, remaining essentially unchanged. It was<br>
            6) popularised in the 1960s with the release of Letraset sheets containing<br>
            7) Lorem Ipsum passages, and more recently with desktop publishing software<br>
            8) like Aldus PageMaker including versions of Lorem Ipsum.<br>
            <br>
            Please treat any of the affected issue in your request, and re-submit.
            </p>
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;font-variant: normal;
    font-weight: 700;line-height: 20px;">Thanks Todaystartups Team</p>
        </div>
    </div>
</div>
    <div style="background-color: #008B45;padding-bottom: 20px;padding-top: 20px;"></div>
    
<!--<div style="background-color: #00CD66;padding-top: 20px;padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-3 col-md-push-2">
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;
    font-variant: normal;font-weight: 700;line-height: 20px; color: #FFFFFF">Contact Us</p>
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;
    font-variant: normal;font-weight: 500;line-height: 16px; color: #FFFFFF">10 Sule Abukar Street<br>
            Opebi Road Ikeja, Lagos.<br>
            +2348039390063</p>
        </div>
        <div class="col-md-3 col-md-push-1">
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;
    font-variant: normal;font-weight: 700;line-height: 20px; color: #FFFFFF">Our Details</p>
            <ul style="display: block; list-style-type: none;">
                <li ><a href="www.todaystartups.com" style="font-family: Avant Garde;font-size: 16px;
    font-style: normal;font-variant: normal;font-weight: 500;line-height: 16px;color: #FFFFFF;">Todaystartups</a></li>
                <li><a href="#" style="font-family: Avant Garde;font-size: 16px;
    font-style: normal;font-variant: normal;font-weight: 500;line-height: 16px;color: #FFFFFF;">About Us</a></li>
                <li><a href="#" style="font-family: Avant Garde;font-size: 16px;
    font-style: normal;font-variant: normal;font-weight: 500;line-height: 16px;color: #FFFFFF;">Advertise</a></li>
                <li><a href="#" style="font-family: Avant Garde;font-size: 16px;
    font-style: normal;font-variant: normal;font-weight: 500;line-height: 16px;color: #FFFFFF;">Terms And Condition</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <p style="font-family: Avant Garde;font-size: 18px;font-style: normal;
    font-variant: normal;font-weight: 700;line-height: 20px; color: #FFFFFF">Social</p>
            <ul style="display: inline;list-style-type: none;;">
                <li><a href="#"><i class="fa fa-facebook-official fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-square fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</div>-->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>